 <div class='post-attribution' >
        <%= link_to micropost.user.username, user_path(micropost.user), class: 'post-author' %>
     <p class="post-content">
      <%= micropost.content %>
    </p>
</div>