 <div class="sidebar column">
  <div class="profile-links">
   <div>
    <span class="material-icons">home</span>
    <%= link_to "HOME", root_path %>
   </div>
   <div>
    <span class="material-icons">person</span>
    <%= link_to "PROFILE", user_path(current_user.id), method: :get %>
   </div>
  </div>
 </div>