
            <div class="d-flex justify-content-between align-items-center topbar">
            <i class="fab fa-twitter tweet-logo"></i>
            <div class="d-flex justify-content-between header-signout">
            <span class="top-items"><a><%= link_to "EDIT", edit_user_registration_path(@user)%></a></span> 
            <span class="top-items"><a><%= link_to "SIGNOUT", destroy_user_session_path, method: :delete%></a></span>
            </div>
            </div>
        